<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - Web-Portal</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>Portal</h1>
        <nav>

        </nav>
        {% if flashed_message %}
        <div class="flashed-message {{ flashed_message.kind }}">{{ flashed_message.message }}</div>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        Running Web-Portal-Lite.
    </footer>
</body>

</html>
