:root {
    --border-radius: 10px;

    --font-family-title: 'Roboto', sans-serif;
    --font-family-main: 'Open Sans', sans-serif;
    --font-dark-no-adjust: black;

    --font-dark--light: var(--font-dark-no-adjust);
    --font-light--light: #f0f0f0;
    --bg-body--light: #9299a5;
    --bg-sub--light: #7b828f;
    --bg-bnt--light: #aaaeb5;

    --font-dark--dark: var(--font-light--dark);
    --font-light--dark: #bcbcbc;
    --bg-body--dark: #002b36;
    --bg-sub--dark: #073642;
    --bg-bnt--dark: #0c414f;

    color-scheme: light;
    --font-dark: var(--font-dark--light);
    --font-light: var(--font-light--light);
    --bg-bnt: var(--bg-bnt--light);
    --bg-body: var(--bg-body--light);
    --bg-sub: var(--bg-sub--light);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --font-dark: var(--font-dark--dark);
        --font-light: var(--font-dark--dark);
        --bg-body: var(--bg-body--dark);
        --bg-sub: var(--bg-sub--dark);
        --bg-bnt: var(--bg-bnt--dark);
    }
}

[data-theme=dark]:root {
    color-scheme: dark;
    --font-dark: var(--font-dark--dark);
    --font-light: var(--font-dark--dark);
    --bg-body: var(--bg-body--dark);
    --bg-sub: var(--bg-sub--dark);
    --bg-bnt: var(--bg-bnt--dark);

}

[data-theme=light]:root {
    color-scheme: light;
    --font-dark: var(--font-dark--light);
    --font-light: var(--font-light--light);
    --bg-body: var(--bg-body--light);
    --bg-sub: var(--bg-sub--light);
    --bg-bnt: var(--bg-bnt--light);

}

footer,
header,
input,
select,
button,
label,
div {
    color: var(--font-dark);
    font-size: 1rem;
    font-family: var(--font-family-main);
}

h1,
h2,
h3 {
    font-family: var(--font-family-title);
    color: var(--font-dark);
}

h1 {
    font-size: 2em;
}

input {
    border-radius: var(--border-radius);
    background-color: var(--bg-bnt);
    padding: .4rem;
    border: none;
}

button {
    background-color: var(--bg-bnt);
    border-style: none;
    padding: .7rem 1.2rem;
    border-radius: var(--border-radius);
}

button:hover {
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
    cursor: pointer;
}

body {
    background-color: var(--bg-body);
    max-width: 1000px;
    margin: auto;
    padding: .5rem 1rem;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: .4rem;
}

header h1 {
    margin: 0;
    margin-right: auto;
}

header nav {
    display: flex;
    gap: .6rem;
}

header nav a,
header nav button {
    text-decoration: none;
    color: var(--font-dark);
    padding: .7rem 1.2rem;
    background-color: var(--bg-bnt);
    border-radius: var(--border-radius);
    border-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a:hover,
header nav button:hover {
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 100px;
    border-top: var(--font-light) solid;
    padding-top: 10px;
}

footer a {
    color: #1d7dab;
    text-decoration: none;
}

.feather-icon {
    width: 1.6rem;
    height: 1.6rem;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.flashed-message {
    font-weight: bold;
    background-color: var(--bg-sub);
    padding: 1rem;
    border-radius: var(--border-radius);
}

.flashed-message.error {
    background-color: #cc2121;
}

.flashed-message.success {
    background-color: #218c21;
}

.dashboard .group .heading {
    text-align: left;
    margin: 0 0 1rem 0;
}

.dashboard .group {
    padding: 1.2rem;
    background-color: var(--bg-sub);
    border-radius: var(--border-radius);
    margin-bottom: .8rem;
}

.dashboard .group .links {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: .6rem;
}

.dashboard .group .links .link {
    border-radius: var(--border-radius);
    padding: 2.5rem 1.4rem;
    text-decoration: none;
    font-family: var(--font-family-title);
    font-size: 1.5rem;
    text-align: left;
    box-shadow: 4px 4px 0px black;
    word-wrap: break-word;
    border-top: 1px solid black;
    border-left: 1px solid black;
    /* for icon based links */
    display: flex;
    justify-content: start;
    align-items: center;
}

.dashboard .group .links.compact .link {
    padding: 1rem;
}

.dashboard .group .links .link:hover {
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
}

.dashboard .group .links .link img {
    margin-right: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.dashboard .group .links.compact .link img {
    width: 2rem;
    height: 2rem;
}

.login {
    border-radius: var(--border-radius);
    background-color: var(--bg-sub);
    width: 50%;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login input {
    margin-bottom: .4rem;
}

.login img {
    max-width: 200px;
    margin: auto;
}

.hidden {
    display: none;
}

#theme-picker-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #00000091;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    border: none;
}

#theme-picker-selector button {
    padding: 1rem 2rem;
}

@media(max-width:640px) {
    .dashboard .group .links {
        grid-template-columns: repeat(2, 49%);
    }
}

@media(max-width:500px) {

    header,
    header nav {
        flex-direction: column;
        width: 100%;
    }

    .dashboard .group .links .link {
        padding: 1rem;
    }

    .dashboard .group .links {
        grid-template-columns: 100%;
    }

    .login {
        width: 100%;
    }
}
